* {
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 500px;
    background-color: rgb(238, 146, 187);
}

#container>div{
    border: 1px solid black;
    height: 30px;
    width:30px;
    margin: 0.5px;
}

.color-change{
    background-color: rgb(10, 89, 227);
}


